<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIRCULO-Noticias</title>

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!--     SLICK -->
    <link rel="stylesheet" href="/stylesheets/slick.css" />
    <!--ESTILOS -->
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <!--  FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
   <!--    HEADER -->

   <header>
    <div class="header-container">
      <div class="logo-container">
        <a href="/"
          ><img class="img-fluid" src="/images/logo.png" alt="logo-img"
        /></a>
      </div>
    <div class="nav-btn">
      <div class="search-input">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar producto..." aria-label="Buscar producto..."
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class="login-cart">
        <a href="/users/login"><i class="fas fa-user"></i> Login</a>
        <a href="/users/register"><i class="fas fa-user"></i> Registro</a>
      </div>
      <div class="header-nav-links">
        <ul>
          <li class="header-nav-link">
            <a href="#" class="header-dropdown-content">Servicios <!-- <i class="fas fa-caret-down"></i> --></a>
            <div class="dropdown hidden">
              <ul>
                <li class="dropdown-link" >
                  <a href="#" class="header-dropdown-content">Alojamiento</a>
                </li>
                <li class="dropdown-link">
                  <a href="/wellness" class="header-dropdown-content">Bienestar Social</a>
                  <div class="dropdown header-dropdown-secondary hidden">
                    <ul>
                      <li class="dropdown-link">
                        <a href="/wellness/#ayuda">Ayuda Económica</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="/wellness/#asesoramiento">Asesoramiento Contable</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="/wellness/#juridico">Asesoramiento Jurídico</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="/wellness/#bodas">Beneficio por Bodas de Oro</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="/wellness/#casamiento">Subsidio por Casamiento</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="/wellness/#hijo">Subsidio por Hijo</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="/wellness/#sepelio">Servicio de Sepelio</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="dropdown-link">
                  <a href="#" class="header-dropdown-content">Evacuación</a>
                </li>
                <li class="dropdown-link">
                  <a href="#" class="header-dropdown-content">Turismo</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-nav-link">
            <a href="#" class="header-dropdown-content"> Beneficios<!-- <i class="fas fa-caret-down"></i> --></a>
            <div class="dropdown hidden">
              <ul>
                <li class="dropdown-link">
                  <a href="#" class="header-dropdown-content">Farmacias</a>
                  <div class="dropdown header-dropdown-secondary hidden">
                    <ul>
                      <li class="dropdown-link">
                        <a href="#">Locales</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="https://www.farmacity.com/Farmacity/sucursales">Farmacity</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="#">Cobertura</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="dropdown-link">
                  <a href="#" class="header-dropdown-content">Sorteos</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-nav-link">
            <a href="/filial/" class="header-dropdown-content">Filiales</a>
          </li>
          <li class="header-nav-link">
            <a href="#">Quiénes somos</a>
          </li>
          <li class="header-nav-link">
            <a href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="hamburger-menu-container">
      <div class="hamburger-menu">
        <div></div>
      </div>
    </div>
  </div>
</header>
    <div class="register">
        <main class="container">
          <div class="row">
            <div class="col-7 mx-auto mt-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">REGISTRATE</h5>
                  <form class="row" method="POST" novalidate>
                    <div class="col-12 col-md-6 mb-3">
                      <label for="exampleInputName" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp"
                        name="nombre"value="<%= locals.old && locals.old.nombre ? old.nombre : null%>">
                        <span class="text-danger small"><%= locals.errores && locals.errores.nombre ? errores.nombre.msg : null %> </span>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="email">
                        <span class="text-danger small"><%= locals.errores && locals.errores.email ? errores.email.msg : null %> </span>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="contrasenia">
                      <span class="text-danger small"><%= locals.errores && locals.errores.contrasenia ? errores.contrasenia.msg : null %> </span>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                      <label for="exampleInputPassword2" class="form-label">Reingresá tu contraseña</label>
                      <input type="password" class="form-control" id="exampleInputPassword2" name="contrasenia2">
                    </div>
               

                        <div class="col-6 mb-3">

                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" id="masculino" value="m">
                            <label class="form-check-label" for="masculino">
                              Masculino
                            </label>
                          </div>

                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" id="femenino" value="f">
                            <label class="form-check-label" for="femenino">
                              Femenino
                            </label>
                          </div>
                            </label>
                          </div>
                        </div>
                            <div class="col-6 mb-3">

                            </div>
                            <div class="d-flex justify-content-end">
                              <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="acepta">
                                <label class="form-check-label me-3 " for="exampleCheck1">Acepto <a href="">términos</a>  y
                                  condiciones</label>
                              </div>
                             
                            </div>
                            <span class="text-danger small my-2"><%= locals.errores && locals.errores.acepta ? errores.acepta.msg : null %> </span>
                            <button type="submit" class="btn btn-success w-25 align-self-center mb-3 ">Enviar</button>
                </div>
                </form>
              </div>

            </div>
          </div>
      </div>


      </main>
      </div>
  


  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Links  start-->
    <section class="footer-container">
      <div class="container text-md-start mt-5">
        <!-- Grid row start-->
        <div class="row mt-3">
          <!-- Grid column start-->
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Contacto</h5>
            <p><i class="fas fa-home me-3"></i> Sede Central Hotel Tacuarí<br>Calle Tacuarí 566 CP.1071 C.A.B.A</p>
            <p><i class="fas fa-envelope me-3"></i>administraciontacuari@cirsubgn.org</p>
            <p><i class="fas fa-phone me-3"></i> + 011 555 5555</p>
          </div>
          <!-- Grid column end-->
          <!-- Grid column start-->
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Información</h5>
            <p>
              <a href="#!" class="text-reset">¿Quiénes somos?</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Productos</a>
            </p>
          </div>
          <!-- Grid column end-->

          <!-- Grid column start-->
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Cuenta</h5>
            <p>
              <a href="/login" class="text-reset">Mi cuenta</a>
            </p>
            <p>
              <a href="/productCart" class="text-reset">Carrito</a>
            </p>
            <p>
              <a href="/productCart" class="text-reset">Finalizar compra</a>
            </p>
          </div>
          <!-- Grid column end-->

          <!-- Grid column start-->
          <div
            class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 social-media-icons"
          >
            <!-- Links -->
            <h5 class="text-uppercase fw-bold mb-4 pt-3">Seguinos en</h5>
            <a href="https://www.facebook.com/Mutual-Circulo-de-Suboficiales-de-Gendarmer%C3%ADa-Nacional-103538817800030" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/mutualcirsub" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/mutualcirsub/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <!-- Grid column end-->
        </div>
        <!-- Grid row end-->
      </div>
    </section>
    <!-- Section: Links end -->
    <!-- Copyright -->
    <div class="text-center p-4 copyright-footer">
      <small
        >Circulo de Sub Oficiales de Gendarmeria Nacional 2021.</small
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <!-- SCRIPTS -->
  <script src="/js/dropdowns.js"></script>
  <!-- JQUERY -->
  <script src="/js/jquery.js"></script>
  <!-- MAIN -->
  <script src="/js/main.js"></script>
  <!-- SLICK -->
  <script src="/js/slick.js"></script>
  <!-- BOOTSTRAP -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
</body>
</html>